.uncover-insights-page {
  .image-header {
    width: 91%;
  }

  .texblock-image-section .subHeading {
    font-size: 6rem;
    margin-bottom: 3rem;
  }

  .texblock-image-section.first {
    .image-block {
      margin: 0 auto;
      width: 92%;
    }
  }

  .texblock-image-section.second {
    .image-block {
      margin: 0 auto;
      width: 104%;
    }
  }

  .texblock-image-section.third {
    .image-block {
      margin: 0 auto;
      width: 78%;
    }
  }
}
